<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633652379009-84gtlhuci1qmibollks7eafn7onm3p13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633652379009-84gtlhuci1qmibollks7eafn7onm3p13</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>633652379009-9fivntu3mbebbtoa8j4t2a2iv69m0qp0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJAxabgkm8QUPUlfrthz06qkqsOgD8Ppg</string>
	<key>GCM_SENDER_ID</key>
	<string>633652379009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.shafi</string>
	<key>PROJECT_ID</key>
	<string>next-decount</string>
	<key>STORAGE_BUCKET</key>
	<string>next-decount.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633652379009:ios:3568070906367872be3c80</string>
	<key>DATABASE_URL</key>
	<string>https://next-decount.firebaseio.com</string>
</dict>
</plist>